#contact-me {
  display: flex;
  align-items: center;
  gap: 0vw;
}
.contactMe {
  width: 60vw;
  color: white;
  margin-bottom: 5vh;
}
.contactMe-intro h1 {
  font-size: 1.8vw;
  text-decoration: underline 1.5px dashed white;
  text-underline-offset: 1vh;
  letter-spacing: 0.13vw;
  margin-bottom: 2vh;
}
.contactMe p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5vw;
  line-height: 5vh;
  word-spacing: 0.3vw;
  width: 50vw;
  color: rgb(229, 228, 228);
  padding-bottom: 1vh;
}
.contactMe-form {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 0.8vw;
  padding: 1vw 2vw;
  margin-top: 3vh;
  width: 40vw;
}
.contactMe-form input {
  width: 28vw;
  height: 6vh;
  border: none;
  border-radius: 0.5vw;
  padding-left: 0.6vw;
  border: 1px solid white;
  background-color: rgb(224, 223, 223);
  color: black;
  margin-bottom: 3vh;
  font-size: 1vw;
}
.contactMe-form input::placeholder {
  color: black;
  font-size: 1vw;
}
.contactMe-form input:focus {
  outline: 0.2vw solid white;
}
.contactMe-form textarea {
  width: 39vw;
  height: 18vh;
  border: none;
  border-radius: 0.5vw;
  padding-left: 0.6vw;
  padding-top: 1.5vh;
  border: 1px solid white;
  background-color: rgb(196, 196, 196);
  margin-bottom: 3vh;
  font-size: 1vw;
  color: black;
}
.contactMe-form textarea::placeholder {
  color: black;
  font-size: 1vw;
}
.contactMe-form textarea:focus {
  outline: 0.2vw solid #adb5bd;
}
.contactMe-form label {
  margin-bottom: 2vh;
  font-size: 1.25vw;
  font-weight: bold;
  word-spacing: 0.3vw;
}
.contactMe-form button {
  background-color: rgb(25, 91, 150);
  /* background-color: rgb(20, 207, 236); */
  border: none;
  border-radius: 0.5vw;
  width: 15vw;
  height: 5vh;
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 0.04vw;
  cursor: pointer;
}
.sendEmail {
  display: flex;
  align-items: center;
  gap: 11.6vw;
}
.sendEmail h3 {
  cursor: pointer;
  text-decoration: underline 1px white;
  text-underline-offset: 1vh;
}
.sendEmail button:hover,
.sendEmail h3:hover {
  scale: 1.1;
}
.contact-info {
  color: white;
}
.contact-info h1 {
  font-size: 1.75vw;
  letter-spacing: 0.08vw;
}
.contact-info p {
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
}
.contact-info a {
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
  color: white;
  text-underline-offset: 0.74vh;
}
.contact-info p {
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
}
.social {
  display: flex;
  gap: 2vw;
}
.social img {
  width: 3vw;
  background-color: rgb(255, 255, 255);
  border-radius: 50vw;
  padding: 0.3vh;
  cursor: pointer;
}
.social img:hover {
  scale: 1.1;
}
