.navBare {
  position: fixed;
  right: 0rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4.3rem;
  z-index: 999;
  background-color: rgb(14, 17, 28);
  padding: 0.4rem 2.6rem 0.4rem 1.5rem;
  margin: 0rem;
  list-style: none;
  width: 100%;
}
.navBare a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 0.9rem;
  border-radius: 0.5rem;
}
.active {
  background-color: rgb(21, 108, 185);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
}
.navBare a:hover {
  background-color: rgb(21, 108, 185);
  padding: 0.5rem 0.9rem;
  border-radius: 0.5rem;
  transition: 0.1s;
}
@media only screen and (max-width:700px) {
  .navBare {
    position: fixed;
    right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    z-index: 999;
    background-color: rgb(14, 17, 28);
    padding: 1rem 0rem;
    margin: 0rem;
    padding-inline: 0.5rem;
    list-style: none;
    width: auto;
  }
  .navBare a {
    color: white;
    font-size: 1rem;
    padding: 0rem 0rem;
    border-radius: 0.5rem;
  }
  .active {
    background-color: rgb(21, 108, 185);
    padding: 0.4rem 0.2rem;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navBare a:hover {
    background-color: transparent;
    padding: 0rem 0rem;
    border-radius: 0.5rem;
    transition: 0.1s;
  }
}
